.link {
  background-color: transparent;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-self: center;
  gap: 8px;
  position: relative;
  transition: 200ms linear;
  width: fit-content;
}

.link::before {
  content: "";
  background-color: var(--color-light-gray);
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 100ms linear;
}

.link__orange::before {
  background-color: var(--color-orange);
}
.link:hover::before {
  transition: 100ms linear;
  height: 4px;
  z-index: -1;
}
.text {
  color: var(--color-light-gray);
  font-size: var(--font-body);
  line-height: var(--font-body-line-height);
}
.link:hover {
  /* font-weight: 600; */
}
.link:hover .text {
  color: var(--color-orange);
}

.link__orange .text {
  color: var(--color-orange);
}

.link__orange:hover .text {
  color: white;
}