.work {
  /* border: 1px dashed var(--color-border); */
  /* background-color: #141414; */
  padding: 24px;

  @media (max-width: 767px) {
    padding: 0px;
    border-width: 0px;
  }
}

.work__header {
  display: inline-flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
  text-transform: uppercase;
  width: 100%;
}

.work__title {
  font-size: var(--font-h6);
  font-weight: var(--font-h1-weight);
  line-height: var(--font-h6-line-height);
  color: var(--color-light-gray);
  flex: 1;
  font-weight: 400;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: 150ms;

  &:hover {
    text-decoration-color: initial;
  }
}

.work__body {
  padding-block: 12px;
}

.work__description {
  font-size: var(--font-body);
  line-height: var(--font-body-line-height);
  font-weight: 500;
  color: var(--color-light-gray);
}

.wrok__footer {
  display: inline-flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  row-gap: 10px;
  flex-wrap: wrap;
}

.work__lang,
.work__stars,
.work__commits,
.work__date {
  font-size: var(--font-body);
  line-height: var(--font-body-line-height);
  font-weight: 500;
  color: var(--color-light-gray);
  display: inline-flex;
  align-items: center;
  gap: 3px;
}

.work__date {
  font-size: 13px;
}

.work__lang {}

.work__stars {}

.wrok__commits {}