.section-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 24px;
  row-gap: 40px;
  padding-bottom: 40px;
  width: 100%;
  overflow: hidden;
  border-bottom: 1px dashed var(--color-gray)
}

@media screen and (max-width: 768px) {
  .section-wrapper {
    grid-template-columns: 1fr;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column-reverse;
  }
}