.title-container {
  display: inline-flex;
  align-items: center;
  column-gap: 8px;
  margin-bottom: 24px;
}

.title__arrow {
  width: var(--font-body);
  height: var(--font-body);
}
:lang(ar) .title__arrow {
  transform: scaleX(-1) !important;
}

:lang(ar) :dir(ltr) .title__arrow {
  transform: scaleX(1) !important;
}
.title {
  font-size: var(--font-body);
  line-height: var(--font-body-line-height);
  font-weight: 500;
  color: var(--color-light-gray);
}