.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0px;
  height: 51px;
}

@media screen and (max-width: 768px) {
  .nav {
    padding: 16px 0px;
}
  
}
.nav__logo {
  overflow-y: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--font-h4);
}
@media (max-width: 767px) {
  .nav__logo {
    height: var(--font-h3);
  }
}
.nav__logo img {
  height: 100%;
}

.nav__menu {
  font-size: var(--font-body);
  line-height: var(--font-body-line-height);
  color: var(--color-light-gray);
}