.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 24px;
  color: white;
}

.experiences__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.experience__title {
  font-size: var(--font-h6);
  line-height: var(--font-h6-line-height);
  color: var(--color-light-gray);
}

.experience__span {
  display: block;
  font-size: var(--font-body);
  line-height: var(--font-body-line-height);
  color: var(--color-gray);
  margin-top: 8px;
}
.experience__nested {
  padding-block: 1rem;
}
.experience__nested__item {
  color: var(--color-gray);
  font-size: 16px;
  padding-inline-start: 1rem;
  padding: 4px;
}
.brief__description {
  font-size: var(--font-h6);
  line-height: var(--font-h6-line-height);
  color: var(--color-light-gray);
}

.brief__quote {
  font-size: 14px;
  line-height: var(--font-h6-line-height);
}